nav {
  height: 120px;
  background-color:#4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  position: sticky;
  display:flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  font-family: 'bungee', cursive;
}

/* #header {
  /* z-index: 100; */
  
/* } */ */

nav span {
  font-family: 'Bungee', cursive;
}

#arrow {
  position: relative;
  float: right;
  margin-top: 10px;
}

#actionPhrase {
  position: relative;
  float: right;
}

@media only screen and (max-width: 768px) {
  nav {
    background-color:transparent;
    position:absolute;
    width:100%
  }
}